.gallery_container {
  width: 60vw;
  display: flex;
  margin-bottom: 30px;
}
.gallery_block {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  margin: 20px;
}

.gallery_photo {
  width: 100%;
  height: 250px;
  transition: 0.3s;
}
.gallery_photo:hover {
  transform: scale(1.2);
}
@media only screen and (max-width: 1024px) {
  .gallery_container {
    width: 80vw;
  }
}
@media only screen and (max-width: 800px) {
  .gallery_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery_block {
    width: 100%;
  }
}
