.chooseApartment_container {
  margin-top: 20px;
  width: 100vw;
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .chooseApartment_container {
    width: 80vw;
  }
}
@media only screen and (max-width: 800px) {
  .chooseApartment_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
