.contact_container {
  width: 60vw;
  padding: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: inset 7px -1px 37px -13px rgba(2, 128, 144, 1);
  -moz-box-shadow: inset 7px -1px 37px -13px rgba(2, 128, 144, 1);
  box-shadow: inset 7px -1px 37px -13px rgba(2, 128, 144, 1);
}
@media only screen and (max-width: 1024px) {
  .contact_container {
    width: 80vw;
  }
}
@media only screen and (max-width: 780px) {
  .contact_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
