.photos_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin: 30px 0;
  padding: 50px;
  flex-wrap: wrap;
  -webkit-box-shadow: inset 7px -1px 37px -13px rgba(2, 128, 144, 1);
  -moz-box-shadow: inset 7px -1px 37px -13px rgba(2, 128, 144, 1);
  box-shadow: inset 7px -1px 37px -13px rgba(2, 128, 144, 1);
}
.photoStyle {
  width: 45%;
  margin: 5px;
  cursor: pointer;
}
.closeBtn {
  position: absolute;
  top: 15px;
  right: 45px;
  width: 50px;
  height: 50px;

  z-index: 20;
  border: none;
  background-color: #3b4a54ed;
  color: var(--color-teal);
  border-radius: 15px;
  font-weight: 700;
  font-size: 2rem;
}

@media only screen and (max-width: 1024px) {
  .photos_container {
    width: 80vw;
  }
  .photoStyle {
    width: 45%;
  }
}
@media only screen and (max-width: 600px) {
  .photoStyle {
    width: 100%;
  }
}
