.buildingContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 30px;
  width: 100%; /* Zapewnia responsywność */
}

.buildingSvg {
  width: 80%; /* SVG skaluje się do rozmiaru kontenera */
  height: auto;
}

.buildingArea {
  fill: transparent;
  cursor: pointer;
  transition: fill 0.3s ease;
}

.free:hover {
  fill: #0280908e;
}

.reserved:hover {
  fill: yellow; 
}

.sold:hover {
  fill: red; 
}


@media only screen and (max-width: 575px) {
  .buildingContainer {
    margin-top: 50px;
    text-align: center;
  }
}
