.floorPlan_container {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.floorPlan_img {
  width: 80%;
  object-fit: cover;
}

.floorPlan_btn {
  width: 50px;
  height: 50px;
  margin: 5px;
  color: var(--color-light-mint);
  background-color: var(--color-teal);
  border: none;
}
.floorPlan_btn:hover {
  color: var(--color-teal);
  background-color: var(--color-light-mint);
}

.buttons_container {
  position: absolute;
}
@media only screen and (max-width: 800px) {
  .floorPlan_container {
    width: 100%;
  }
}
